# Base de données
DATABASE_URL="DATABASE_URL"
CLIENT_URL="CLIENT_URL"

# JWT 
JWT_SECRET="SECRET_JWT"

# Serveur 
PORT=4000
# Mode can be "development" or "production"
NODE_ENV="development" 

# Stripe
STRIPE_WEBHOOK_SECRET="STRIPE_WEBHOOK_SECRET"
STRIPE_SECRET_KEY="STRIPE_SECRET_KEY"
TOKEN_PRICE_CENTS=100

# Email BREVO
BREVO_API_KEY="API_KEY_BREVO"
BREVO_SENDER_EMAIL="EMAIL@DOMAIN.TLD"
BREVO_SENDERNAME="SENDER NAME"